.mood-tracker {
  font-family: 'Poppins';
  display: flex;
  align-items: center;
  background-color: #FAF6F5;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mood-image {
  width: 40%;
  margin-right: 20px;
}

.mood-image img {
  height: 400px;
  width: auto;
  border-radius: 10px;
}

.mood-content {
  text-align: right;
  max-width: 60%;
}

.mood-content h1 {
  font-family: 'Mikela';
  font-size: 60px;
  margin: 10px 0px 10px 10px;
  color: #ae665d;
}

.mood-content p {
  font-size: 24px;
  margin: 5px 0px 5px;
  color: #C67267; /*D9C2B0*/
}

.mood-content button {
  background-color: #544F4B;
  color: white;
  border: none;
  padding: 12px 25px;
  margin-top: 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
}

.mood-content button:hover {
  background-color: #A4A697;
}