@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.navbar {
    font-family: 'Poppins';
    background-color: #F2EEEB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.navbar-logo h1 {
    font-size: 1.8rem;
    margin: 0;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

.navbar-links li {
    display: inline-block;
}

.navbar-links a {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
}